
body {
	background: #E0FFFF;
	background-size: 100%;
}

section {
	padding: 100px 200px;
	background-color: #B0E0E6;
	margin: 10px 100px;
	min-height: 600px;
	border-radius: 10px;
	font-family: "Ranchers";
	font-size: 25px;
}

ul > img {
	width: 70%;
	min-width: 150px;
}

#Formula {
	font-size: 50px;
}

#Formula,
#Quote,
#TotemAnimal {
	text-align: center;
}

h1 {
	display: grid;
	justify-content: center;
}

#Quote > ul {
	list-style: none;
}

section > h2 {
	display: grid;
	font-size: 35px;
	justify-content: center;
	padding-bottom: 100px;
}


* {
	margin: 0;
	padding: 0;
}

#Navigator > ul {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 40px; 
	grid-column-gap: 1px;
	background-color: #40E0D0;
	border-radius: 10px;

}

#Navigator > ul > li {

	list-style: none;

}


li > a {
	display: flex;
	height: 100%;

	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 20px;
	font-family: "Ranchers";
	color: white;

}

#Navigator > ul > li:hover {
	cursor: pointer;
}

@font-face {
	font-family: "Ranchers";
	src: url("../fonts/Ranchers-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

li > a:hover {
	background-color: #48D1CC;
}

li > a:active {
	background-color: #45C9C4;
}

blockquote:before {
	content: "«";
}


blockquote:after {
	content: "»";
}
