body {
	background-image: url("../source/background.jpg")
}

#Navigator {
	margin: 0;
	padding: 0;
}

header {
	margin-top: 50px;
}

header > h1 {
	text-align: center;
}

#Navigator * {
	margin: 0;
	padding: 0;
}

#Navigator ul,
#Navigator li {
	list-style: none;
}

#Navigator > ul {
	display: flex;
	justify-content: center;
}

#Navigator > ul > li {
	display: block;
	background: #f2f3f4;
	padding: 15px 30px;
	font-size: 14px;
	text-transform: uppercase;
	border-right: 1px solid #808080;

	position: relative;
}

#Navigator > ul > li > a {
	text-decoration: none;
	color: black;
}


li:first-child{
	border-left: 1px solid #808080;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}


li:last-child{
	border-right: 1px solid #808080;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#Navigator > ul > li:hover {
	background: #fff;
	cursor: pointer;
}